style{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-variation-settings: normal;
    --docsearch-primary-color: #5468ff;
    --docsearch-text-color: #1c1e21;
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: #969faf;
    --docsearch-container-background: rgba(101,108,133,.8);
    --docsearch-logo-color: #5468ff;
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: #f5f6f7;
    --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0,0%,100%,.5),0 3px 8px 0 #555a64;
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: #ebedf0;
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: #444950;
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: #fff;
    --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
    --docsearch-key-gradient: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,.4);
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8,0 -3px 6px 0 rgba(69,98,155,.12);
    --cc-kpizn: 255,255,255!important;
    --cc-sl84z: 28,41,59!important;
    --cc-lqu9t: 0,0,0!important;
    --cc-u4b31: 224,237,255!important;
    --cc-u8grg: 89,144,226!important;
    --cc-1f73p: 240,242,245!important;
    --cc-s9b6x: 211,221,230!important;
    --cc-1fez6: 168,186,205!important;
    --cc-e4hcn: 127,149,171!important;
    --cc-15udf: 55,81,108!important;
    --cc-99rib: 255,242,243!important;
    --cc-j1pum: 255,220,224!important;
    --cc-rs6m9: 238,51,75!important;
    --cc-1t2x7: 78,206,61!important;
    --cc-4ukzn: 255,246,208!important;
    --cc-1udsi: 255,244,127!important;
    --cc-1tdyb: 245,201,12!important;
    --cc-1j3c6: 28,41,59!important;
    --cc-5suw9: 255,255,255!important;
    --cc-dfv0z: 146,169,193!important;
    --cc-1eeow: 55,81,108!important;
    --cc-1qsix: 233,238,243!important;
    --cc-tje44: 0,0,0!important;
    --cc-azz3h: 247,249,252!important;
    --cc-iabav: 28,41,59!important;
    --cc-sm5kx: 222,233,252!important;
    --cc-1fput: 226,251,232!important;
    --cc-1foz8: 235,237,241!important;
    --cc-1ccux: 221,222,238!important;
    --cc-19ox6: 248,232,242!important;
    --cc-gptc7: 241,232,253!important;
    --cc-4fuml: 249,227,226!important;
    --cc-qfnak: 225,231,253!important;
    --cc-9rjsa: 253,249,201!important;
    --cc-avk66: 18,24,38!important;
    --cc-1jpx4: 80,70,230!important;
    --cc-1a0v0: 255,255,255!important;
    --cc-skx40: 229,231,235!important;
    --cc-1mhp4: 209,213,219!important;
    --cc-1du21: 108,114,127!important;
    --cc-hivu5: 42,77,208!important;
    --cc-1dnf9: 60,126,68!important;
    --cc-gsgdf: 77,85,98!important;
    --cc-1mnb6: 83,85,119!important;
    --cc-egrbf: 174,45,93!important;
    --cc-g9c1z: 116,41,198!important;
    --cc-1p7yq: 170,46,38!important;
    --cc-2jw3f: 65,56,194!important;
    --cc-6b7j3: 125,80,31!important;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    border-color: currentcolor!important;
    border-style: none!important;
    border-width: medium!important;
    clear: none!important;
    clip: auto!important;
    color: inherit!important;
    counter-increment: none!important;
    counter-reset: none!important;
    cursor: auto!important;
    direction: inherit!important;
    float: none!important;
    font-family: inherit!important;
    font-style: inherit!important;
    font-variant: normal!important;
    height: auto!important;
    left: auto!important;
    letter-spacing: normal!important;
    line-height: inherit!important;
    list-style-type: inherit!important;
    list-style-position: outside!important;
    list-style-image: none!important;
    max-height: none!important;
    max-width: none!important;
    min-height: 0!important;
    min-width: 0!important;
    outline: 0!important;
    quotes: "" ""!important;
    table-layout: auto!important;
    text-align: inherit!important;
    text-decoration: inherit!important;
    text-indent: 0!important;
    text-transform: none!important;
    text-rendering: auto!important;
    top: auto!important;
    unicode-bidi: normal!important;
    vertical-align: baseline!important;
    white-space: normal!important;
    word-spacing: normal!important;
    border-image: none!important;
    box-sizing: content-box!important;
    column-count: auto!important;
    column-gap: normal!important;
    column-rule: medium none rgb(var(--cc-lqu9t))!important;
    column-width: auto!important;
    -webkit-text-fill-color: currentcolor!important;
    -webkit-tap-highlight-color: rgba(var(--cc-lqu9t),0)!important;
    font-feature-settings: normal!important;
    hyphens: manual!important;
    hyphenate-character: "‐"!important;
    perspective: none!important;
    perspective-origin: 50% 50%!important;
    backface-visibility: visible!important;
    text-shadow: none!important;
    word-break: normal!important;
    font-size: 11px!important;
    font-weight: 400!important;
    -webkit-font-smoothing: subpixel-antialiased!important;
    margin: 0!important;
    padding: 0!important;
    user-select: none!important;
    display: block!important;
    position: fixed!important;
    right: 24px!important;
    background: rgb(var(--cc-kpizn))!important;
    overflow: hidden!important;
    bottom: 96px!important;
    z-index: 1!important;
    transition: width .15s ease-in-out!important;
    border-radius: 12px!important;
    box-shadow: 0 6px 6px 0 rgba(var(--cc-tje44),.02),0 8px 24px 0 rgba(var(--cc-tje44),.12)!important;
    visibility: visible!important;
    width: 400px !important;
}